.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-list-container {
  display: flex;
  flex-direction: column;
}
.user-list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.user-list-link{
  padding-right: 10px;
  min-width: 250px;
}
.user-list-gender{
  padding-right: 10px;
  min-width: 70px;
}
.user-list-status{
  padding-right: 10px;
}
.pagination{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page-number {
  padding: 0 10px 0 10px;
}
.user-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-list-container {
  display: flex;
  flex-direction: column;
}
.todo-list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.todo-list-item > div, .todo-list-item > input {
  padding: 0 10px 0 10px;
}
.todo-list-item > .completed {
  text-decoration: line-through;
  color: #a3a3a3;
}
.add-user-form-container {
  text-align: center;
}

.add-user-form label {
  margin-left: 5px;
}
.form-section {
  margin: 10px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

